Doctype
html
  head
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    title MicroService
    link(rel="stylesheet", href="style.css")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body
    h1 URL Shortener
    h2 This applicaton meets the following user stories
    ul
      li <b> User Story:</b>  I can pass a URL as a parameter and I will receive a shortened URL in the JSON response.

      li <b>User Story:</b> If I pass an invalid URL that doesn't follow the valid http://www.example.com format, the JSON response will contain an error instead.

      li <b> User Story: </b> When I visit that shortened URL, it will redirect me to my original link.
        | footer
     
    h2 Example of use
    p: span.highlight: a.url(href="#") December 14, 2017
    p: span.highlight: a.url(href="#") 1513224000

    h2 It should response: 
    p: span.highlight=example

    script.
      const url = document.querySelectorAll('.url')
      url.forEach((item) => {
       item.innerHTML = `${window.location.origin}/${item.innerHTML}`
       item.href = item.innerHTML
      })

    footer
      small made with <stroke> vscode</stroke> <stroke>code</stroke> <stroke>music</stroke> and Love by <a href="https://jesusantguerrero.com"> Jesus Guerrero </a>
