/* styles */
/* called by your view template */

/* You might want to try something fancier: */
/* less: http://lesscss.org/ */

* {
  box-sizing: border-box;
}

body {
  font-family: helvetica, arial, sans-serif;
  margin: 25px;
  color: #333
}

h1 {
  font-weight: bold;
  color: rgb(31, 182, 17);
}

h2 {
  color: #3b75f2f7
}

li {
  margin: 5px 
}

.bold {
  font-weight: bold;
}

p {
  max-width: 600px;
}

.highlight:hover {
  background-color: rgba(0, 255, 64, 0.371);
}

